@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@keyframes show {
  from {
    opacity: 0.8;
    scale: 95%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

.job-card {
  view-timeline-name: --job;
  view-timeline-axis: block;
  animation-timeline: --job;
  animation-name: show;
  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}

.grid-rows-body {
  grid-template-rows: 40px 1fr 40px;
}

.grid-cols-body {
  grid-template-columns: 300px 1fr;
}

@media (max-width: 639px) {
  .grid-cols-body {
    grid-template-columns: 100%;
  }

  #sidebar,
  main {
    grid-row: 2 / 3;
  }

  #footer {
    grid-row: 3 / 4;
  }
}
